<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="css/main.css">
  </head>
  <body>
    <div class="page">
      <section>
        <div class="left">
          <img src="images/logo.png" class="logo">
        </div>
        <div class="right">
          <h1>Eurydice Studios</h1>
          <ul>
            <li>Simple, straightforward guitar lessons</li>
            <li>Learn as you go, no rush</li>
            <li>Join our online group for daily tips</li>
          </ul>
        </div>
      </section>
      
      <section class="callout">
        <div class="left">
          <img src="images/sm.png" class="avatar">
        </div>
        <div class="right">
          <h1>Your teacher, Stephen Miller</h1>
          <ul>
            <li>Good looking</li>
            <li>Classical, folk, and jazz</li>
            <li>Enjoys coffee</li>
          </ul>
        </div>
      </section>
      
      <section>
      </section>
    </div>
  </body>
</html>
